body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#inscription .titre_form {
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
}
#inscription fieldset {
    border:none;
    text-align: center;
}
#inscription input {
    background-color: #333333;
    color: white;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 5px;
    height: 25px;
    width: 50%;
    font: 100 13px Roboto;
    margin-top: 10px;
}
#inscription ::placeholder {
    color: white;
}
#inscription form {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
#inscription button {
    background: #E81111;
    border-radius: 5px;
    border: 1px solid #E81111;
    height: 30px;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
}
#inscription .space {
    margin-top: 30px;
}
#inscription label {
    text-align: center;
}
#inscription .titre_form {
    padding-top: 30px;
    font-weight: 400;
    font-size: 36px;
}
